.login{
  height: 100%;
  background: @body-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @odoo: #a24689;

  .title{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
  }

  div.colorgraph{
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
  }

  @media (min-width: 768px) {
    .panel{
      width: 45%;
    }
  }

  @media (min-width: 1440px) {
    .panel{
      width: 35%;
    }
  }

  @media (min-width: 1880px) {
    .panel{
      width: 25%;
    }
  }

  .btn{
    border-color: transparent;
    background-size: 200%;
    background-position: 50%;
    color: #fff;
    font-weight: bold;
  }

  .btn-facebook{
    background-color: #3b5998;
  }

  .btn-google{
    background-color: #dd4b39;
  }

  .btn-github{
    background-color: #303030;
  }

  .btn-odoo{
    background-color: @odoo;
  }

  .btn-odoo:hover{
    background-color: lighten(@odoo, 5%);
  }

  .btn-odoo:active{
    background-color: darken(@odoo, 10%);
  }
}
