<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>
        <span ng-if="!vm.user._id">{{'common.new' | translate}}</span>
        <span ng-if="vm.user._id && vm.user.editing">{{'common.edit' | translate}}</span>
        {{'admin.views.formUser.user' | translate}}
        <small ng-bind="' - ' + vm.user._id" ng-if="vm.user._id"></small>
      </h1>
    </div>
    <div class="panel-body">
      <ul class="list-inline text-center panel-options panel-options--top">
        <li ng-if="!vm.user._id || !vm.user.editing">
          <a class="btn btn-default btn-sm" ui-sref="^.user-list">
            <i class="fa fa-fw fa-reply"></i>
            <span class="hidden-xs" ng-bind="'common.back' | translate">Go back</span>
          </a>
        </li>
        <li ng-if="vm.user._id && !vm.user.editing" hide-action permission="user" action="edit">
          <button class="btn btn-info" ng-click="vm.edit(true)">
            <i class="fa fa-fw fa-edit"></i>
            <span class="hidden-xs" ng-bind="'common.new' | translate">Edit</span>
          </button>
        </li>
      </ul>
      <div ng-form="formUser">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': formUser.name.$invalid && (formUser.name.$dirty || formUser.$submitted) }">
              <label class="control-label" for="name"><span ng-bind="'common.name' | translate"></span>:</label>
              <input class="form-control" name="name" ng-disabled="vm.user._id && !vm.user.editing" ng-model="vm.user.name" ng-required="true" type="text">
              <div class="help-block" ng-messages="formUser.name.$error" ng-show="(formUser.name.$dirty || formUser.$submitted) && formUser.name.$invalid">
                <div ng-messages-include="base/views/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="email">{{'common.email' | translate}}:</label>
              <p class="form-control-static" name="email" ng-bind="vm.user.email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="role" class="control-label" ng-bind="'common.rol' | translate">Role:</label>
              <select class="form-control" ng-change="vm.applyPermissions(vm.user.role)" ng-model="vm.user.role" ng-disabled="vm.user._id && !vm.user.editing" ng-options="role.name as role.name for role in vm.roleList"></select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="state" class="control-label">{{'common.state' | translate}}:</label>
              <p class="form-control-static" ng-if="vm.user._id && !vm.user.editing">{{vm.user.state === true ? 'Active' : 'Inactive'}}</p>
              <cis-switch type="success" id="state" ng-model="vm.user.state" ng-if="vm.user.editing"></cis-switch>
            </div>
          </div>
        </div>
        <div ng-hide="vm.user.role === 'Administrator' && vm.user._id === vm.loggedUserId">
          <div class="form-group">
            <h5 class="text-uppercase text-center">{{'common.permissions' | translate}}</h5>
            <ng-include src="'administration/views/userPermissions.html'"></ng-include>
          </div>
        </div>
        <div class="text-center" ng-if="vm.user.role === 'Administrator' && vm.user._id === vm.loggedUserId">
          <strong class="text-primary">
            <i class="fa fa-fw fa-info-circle"></i>
            {{'admin.views.formUser.text' | translate}}
          </strong>
        </div>
        <ul class="list-inline text-center panel-options panel-options--bottom">
          <li ng-if="vm.user.editing">
            <button class="btn btn-default btn-sm" ng-click="vm.edit(false)" type="button">
              <i class="fa fa-fw fa-ban"></i>
              <span class="hidden-xs">{{'common.cancel' | translate}}</span>
            </button>
          </li>
          <li ng-if="vm.user.editing || !vm.user._id">
            <button class="btn btn-success" type="submit" ng-click="formUser.$submitted = true; vm.save(formUser.$valid)">
              <i class="fa fa-fw fa-download"></i>
              <span class="hidden-xs">{{'common.save' | translate}}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
