<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>{{'common.list' | translate }}</h1>
    </div>
    <div class="panel-body">
      <ul class="list-inline text-center panel-options panel-options--top" hide-action permission="role" action="create">
        <li><a ui-sref="^.role-one" class="btn btn-success"><i class="fa fa-fw fa-file"></i> {{'admin.views.listRole.new' | translate}}</a></li>
      </ul>
      <p class="lead text-muted text-center" ng-if="vm.list.counter === 0">
        <i class="fa fa-fw fa-list"></i>
        <span>{{'admin.views.listRole.noData' | translate}}</span>
      </p>
      <div class="table-responsive" ng-if="vm.list.counter > 0">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">{{'common.name' | translate }}</th>
              <th class="text-center">{{'common.desc' | translate }}</th>
              <th class="text-center">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr ng-repeat="role in vm.list.docs track by $index">
              <td ng-bind="$index + 1" ui-sref="{{role.name !== 'Administrator' ? '^.role-one({id: role._id})' : '^.role-list'}}"></td>
              <td ng-bind="role.name" ui-sref="{{role.name !== 'Administrator' ? '^.role-one({id: role._id})' : '^.role-list'}}"></td>
              <td ng-bind="role.description" ui-sref="{{role.name !== 'Administrator' ? '^.role-one({id: role._id})' : '^.role-list'}}"></td>
              <td>
                <ul class="table-options" ng-if="role.name !== 'Administrator'">
                  <li tooltip="Edit" ui-sref="^.role-one({id: role._id, edit: true})"><i class="text-info fa fa-fw fa-edit" hide-action permission="role" action="edit"></i></li>
                  <li tooltip="Remove" ng-click="vm.remove(role)"><i class="text-danger fa fa-fw fa-trash" hide-action permission="role" action="remove"></i></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination ng-model="vm.page" total-items="vm.list.counter" ng-change="vm.updatePage(vm.page - 1)" items-per-page="vm.qty"></pagination>
      </div>
    </div>
  </div>
</div>
