<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>{{'common.list' | translate }}</h1>
    </div>
    <div class="panel-body">
      <p class="lead text-muted text-center" ng-if="vm.list.length === 0">
        <i class="fa fa-fw fa-list"></i>
        <span>{{'admin.views.listUser.noData' | translate}}</span>
      </p>
      <div class="table-responsive" ng-if="vm.list.length > 0">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">{{'common.name' | translate }}</th>
              <th class="text-center">{{'common.email' | translate }}</th>
              <th class="text-left" hide-action permission="user" action="edit">{{'common.state' | translate }}</th>
              <th class="text-center">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr ng-repeat="user in vm.list track by $index">
              <td ng-bind="$index + 1" ui-sref="^.user-one({id: user._id})"></td>
              <td ng-bind="user.name" ui-sref="^.user-one({id: user._id})"></td>
              <td ng-bind="user.email" ui-sref="^.user-one({id: user._id})"></td>
              <td hide-action permission="user" action="edit">
                <cis-switch style="font-size: 9px" ng-model="user.state" type="success" ng-click="vm.changeState(user, {{user.state ? false : true}})" ng-disabled="vm.loggedUserId === user._id && user.role === 'Administrator'"></cis-switch>
              </td>
              <td>
                <ul class="table-options" hide-action permission="user" action="edit">
                  <li tooltip="Edit" ui-sref="^.user-one({id: user._id, edit: true})"><i class="text-info fa fa-fw fa-edit"></i></li>
                  <li tooltip="{{user.role}}" ng-class="user.role === 'Administrator' ? 'text-danger' : ''"><i class="fa fa-fw fa-user"></i></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination ng-model="vm.page" total-items="vm.list.length" ng-change="vm.updatePage(vm.page - 1)" items-per-page="vm.qty"></pagination>
      </div>
    </div>
  </div>
</div>
