<!--[if lte IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script> <![endif]-->
<section class="login">
  <div class="colorgraph"></div>
  <h1 class="title" ng-bind="'title' | translate"></h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center" ng-bind="'login.views.login' | translate">System login</h1>
    </div>
    <div class="panel-body">
      <img alt="Ciris Informatic Solutions" class="img-responsive center-block" src="/resources/images/Ciris-color.png">
      <br>
      <form ng-submit="vm.login(login_form, vm.user)" class="form-horizontal" name="login_form" novalidate="novalidate" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error': (login_form.$submitted || login_form.user.$touched) && login_form.user.$invalid }">
          <label for="user" class="control-label col-sm-3" ng-bind="'login.views.user' | translate"></label>
          <div class="col-sm-9">
            <div class="input-group">
              <input name="user" id="user" type="text" placeholder="user@ciriscr.com" class="form-control"
               ng-required="true" ng-model="vm.user.login">
              <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>

            </div>
             <div class="help-block" ng-messages="login_form.user.$error" ng-if="login_form.$submitted || login_form.user.$touched">
               <div ng-messages-include="base/views/messages.html"></div>
             </div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (login_form.$submitted || login_form.password.$touched) && login_form.password.$invalid }">
          <label for="password" class="control-label col-sm-3" ng-bind="'login.views.pass' | translate">Password:</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input name="password" id="password" type="password" placeholder="********" class="form-control"
               ng-required="true" ng-model="vm.user.password">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
            </div>
             <div class="help-block" ng-messages="login_form.password.$error" ng-if="login_form.$submitted || login_form.password.$touched">
               <div ng-messages-include="base/views/messages.html"></div>
             </div>
          </div>
        </div>
        <div class="form-group">
          <label for="remember" class="control-label col-sm-3" ng-bind="'login.views.remember' | translate">Remember me:</label>
          <div class="col-sm-9">
            <cis-switch id="remember" name="remember" ng-model="vm.user.remember" type="success"></cis-switch>
          </div>
        </div>
        <button class="btn btn-lg btn-block btn-odoo" type="Submit">
          <i class="fa fa-fw fa-sign-in"></i>
          {{'login.views.odoo' | translate}}
        </button>
      </form>
      <br>
    </div>
  </div>
</section>
