<p ng-message="required" ng-bind="'base.views.messages.required' | translate">This field is required</p>
<p ng-message="minlength" ng-bind="'base.views.messages.minlength' | translate">This field is too short</p>
<p ng-message="maxlength" ng-bind="'base.views.messages.maxlength' | translate">This field is too long</p>
<p ng-message="email" ng-bind="'base.views.messages.email' | translate">This field needs to be a valid email</p>
