<div id="header" ng-include="'base/views/header.html'"></div>
<aside id="menu" ng-include="'base/views/navigation.html'"></aside>
<div id="wrapper">
  <div class="darken hidden" id="darken"></div>
  <div class="container-fluid" ui-view></div>
  <div ng-include="'base/views/templates-ui-bootstrap.html'"></div>
</div>
