<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>
        <span ng-if="!vm.FILE._id">New</span>
        <span ng-if="vm.FILE._id && vm.FILE.editing">Edit</span>
        NAME
        <small ng-bind="' - ' + vm.FILE._id" ng-if="vm.FILE._id"></small>
      </h1>
    </div>
    <div class="panel-body">
      <ul class="list-inline text-center panel-options panel-options--top">
        <li ng-if="!vm.FILE._id || !vm.FILE.editing">
          <a class="btn btn-default btn-sm" ui-sref="^.FILE-list">
            <i class="fa fa-fw fa-reply"></i>
            <span class="hidden-xs">Go back</span>
          </a>
        </li>
        <li ng-if="vm.FILE._id && !vm.FILE.editing" hide-action permission="FILE" action="edit">
          <button class="btn btn-info" ng-click="vm.edit(true)">
            <i class="fa fa-fw fa-edit"></i>
            <span class="hidden-xs">Edit</span>
          </button>
        </li>
      </ul>
      <div ng-form="FILEForm">
        <div class="form-group" ng-class="{ 'has-error': FILEForm.name.$invalid && (FILEForm.name.$dirty || FILEForm.$submitted) }">
          <label class="control-label" for="name">Name</label>
          <input class="form-control" id="name" name="name" ng-disabled="vm.FILE._id && !vm.FILE.editing" ng-model="vm.FILE.name" ng-required="true" type="text">
          <div class="help-block" ng-messages="FILEForm.name.$error" ng-show="(FILEForm.name.$dirty || FILEForm.$submitted) && FILEForm.name.$invalid">
            <div ng-messages-include="base/views/messages.html"></div>
          </div>
        </div>
        <ul class="list-inline text-center panel-options panel-options--bottom">
          <li ng-if="vm.FILE.editing">
            <button class="btn btn-default btn-sm" ng-click="vm.edit(false)" type="button">
              <i class="fa fa-fw fa-ban"></i>
              <span class="hidden-xs">Cancel</span>
            </button>
          </li>
          <li ng-if="vm.FILE.editing || !vm.FILE._id">
            <button class="btn btn-success" type="submit" ng-click="FILEForm.$submitted = true; vm.save(FILEForm.$valid)">
              <i class="fa fa-fw fa-download"></i>
              <span class="hidden-xs">Save</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
