<!DOCTYPE html>
<html lang="es">
<head>
  <base href="/">
  <title cis-title>Ciris</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta http-equiv="Content-Language" content="es">
  <meta name="Subject" content="">
  <meta name="description" content="">
  <meta name="abstract" content="">
  <meta name="classification" content="">
  <meta name="keywords" content="">
  <meta name="country" content="Costa Rica">
  <link rel="shortcut icon" href="resources/images/favicon.png" type="image/png">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="styles.css" media="all">
  <meta name="Robots" content="index,follow">
  <meta name="author" content="Ciris Informatic Solutions">
  <meta name="revised" content="Ciris Informatic Solutions, 29/01/2016" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="vendor.min.js"></script>
  <script type="text/javascript" src="resources/js/angular-locale_es-cr.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
  <script type="text/javascript" src="urlApi.js"></script>
  <script type="text/javascript" src="logic.js"></script>
  <script type="text/javascript" src="templates.js"></script>
</head>
<body>
  <main ui-view id="main">
    <!-- Simple splash screen-->
    <div class="splash">
      <div class="colorgraph-shine"></div>
      <div class="splash-title">
        <span>{{today | Date:"LL"}}</span>
        <!--[if lt IE 7]>
          <p class="alert alert-danger animated rubberBand"><i class="fa fa-fw fa-hourglass-2 text-danger"></i> You are using a <strong>very old</strong> web browser. Please, update your browser.</p>
        <![endif]-->
        <h1 ng-bind="'title' | translate"></h1>
        <p ng-bind="'index.loading' | translate"></p>
        <img src="resources/images/loading-bars.svg" width="64" height="64" class="animated fadeIn" />
      </div>
    </div>
  </main>
</body>

</html>
